# Build directories
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IDEs ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Compiled Files
*.class
*.txt
*.properties

# Logs and temporary files
*.log
*~
.DS_Store
Thumbs.db
*.application.log
/log/**

# Include META-INF resources
!src/main/resources/META-INF/
!src/main/resources/META-INF/**
